<!DOCTYPE html>
<html>
    
<head>
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/style.css">
  
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{!-- <h1>{{title}}</h1> --}}
        <!-- <img src="/images/ronaldo.png" width="200" height="200"> -->
        <img class="portrait" src="/images/ronaldo.png" >
        {{!-- <p>Created by {{name}}</p> --}}
    </div>
    {{>footer}}
</body>

</html>