
<header>
    <h1>{{title}}</h1>
    <a href="/">Weather</a> <!-- href is an attribute which sets up that where this link should go.-->
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>



